.infobanner {
    size: 30px;
    min-height: 200px;
    border-color: #FFA049;
    border-style: solid;
    display: flex;
    column-gap: 50px;
    background-color:white;
    border-radius: 16px;
    border-left-width: 200px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-right-width: 5px;
    box-sizing: content-box;
    }

.btnimg img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -150px;
    margin-top: 50px;
    float: left;
}

.title {
    width: 100%;
    font-family: "Inter", bold;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 50px;
    font-size: 30px;
    border: none;
    float: right;
    text-align: left;
    flex-direction: column;
}

.content {
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace; 
    margin-bottom: 10px;
    margin-left: -30px;
    border: none;
}

.hint button {
    border: none;
    margin-left: 10px;
    margin-right: 20px;
    background-color: white;
    width: 100px;
}